body {
  margin: 0;
  font-family: Arial, sans-serif;
  background: linear-gradient(#1e88e5, #bbdefb);
  height: 100pv;
  display: flex;
  justify-content: center;
}


.logo-title {
  display: flex;
  align-items: center;
  gap: 12px;
}

.logo-icon {
  width: 60px;
  border-radius: 10px;
  flex-shrink: 0;
}

header {
  margin-top: 195px;
}

.title-text {
  display: flex;
  flex-direction: column;
  line-height: 1.1;
}

.title-text h1 {
  color: white;
  font-size: 24px;
  margin: 0;
}

.title-text span {
  color: white;
  opacity: 0.8;
  font-size: 14px;
  margin-top: 2px;
}

.main-grid {
  margin-top: 10px;
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  gap: 24px;
}

.item {
  background: white;
  padding: 12px 40px;
  border-radius: 16px;
  text-align: center;
  text-decoration: none;
  color: #0a0a0a;
  box-shadow: 0 6px 14px rgba(0, 0, 0, 0.12);
}

.item img {
  width: 40px;
  height: 40px;
}

.item p {
  margin-top: 8px;
  font-size: 15px;
  font-weight: 600;
}

.footer {
  margin-top: 20px;
  background: white;
  padding: 14px;
  border-radius: 16px;
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  text-align: center;
  box-shadow: 0 6px 14px rgba(0, 0, 0, 0.12);
}

.footer img {
  width: 28px;
  height: 28px;
}

.footer p {
  margin: 4px 0 0;
  font-size: 12px;
}
